h2 {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifss;
}

.sub
{
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2.5px white;
}