header {
  display: flex;
  align-items: center;
  background-image: url(https://images3.alphacoders.com/130/1308510.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  justify-content: space-between;
  border-bottom: 1px solid white;
  border-bottom: solid 2px white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

li {

  display: inline-block;
  margin: 5rem;
  cursor: pointer;
  text-align: center;
  font-size: large;
}

.imagenLogoPagina {
  width: 15rem;

}

#menuLateral {
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}

#menuLateral ul {
  list-style: none;
  margin: 0;
}

#menuLateral ul li {
  margin: 0;
  float: left;
}

#menuLateral ul li a {
  margin: 0 2px;
  width: 138px;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  line-height: 44px;
  display: block;
  text-decoration: none;
}

#menuLateral ul li a:hover {
  color: black;
}

#item1 a {
  border-bottom: 2px solid #27E1C1;
  color: transparent;
  -webkit-text-stroke: 1px rgb(253, 251, 251);
}

#item2 a {
  border-bottom: 2px solid #E8A0BF;
  color: transparent;
  -webkit-text-stroke: 1px rgb(253, 251, 251);
}

#item3 a {
  border-bottom: 2px solid #EBB02D;
  color: transparent;
  -webkit-text-stroke: 1px rgb(253, 251, 251);
}

#item4 a {
  border-bottom: 2px solid #A84448;
  color: transparent;
  -webkit-text-stroke: 1px rgb(253, 251, 251);
}


#item1 a:hover {
  background: #27E1C1;
}

#item2 a:hover {
  background: #E8A0BF;
}

#item3 a:hover {
  background: #EBB02D;
}

#item4 a:hover {
  background: #A84448;
}