body {
  color: black;
  margin: 0.5rem;
  background: linear-gradient(to left, #E96479, #569DAA);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
